{
  "credentials": {
    "scope": "GLOBAL",
    "id": "{{ item.secret_id }}",
    "username": "{{ item.username }}",
    "privateKeySource": {
      "stapler-class": "com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey$DirectEntryPrivateKeySource",
      "privateKey": "{{ item.private_key_path }}"
    },
    "passphrase": "{{ item.secret_passphrase | default('') }}",
    "description": "{{ item.secret_description }}",
    "$class": "com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey",
    "stapler-class": "com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey"
  }
}
