{
  "" : "",
  "credentials": {
    "scope": "GLOBAL",
    "id": "{{ item.secret_id }}",
    "secret": "{{ item.secret_value }}",
    "description": "{{ item.secret_description }}",
    "$class": "org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl",
    "stapler-class": "org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl"    
  }
}
